Source: ros-hydro-leap-motion
Section: misc
Priority: extra
Maintainer: Florian Lier <flier@techfak.uni-bielefeld.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs
Homepage: https://wiki.ros.org/leap_motion
Standards-Version: 3.9.2

Package: ros-hydro-leap-motion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-runtime, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs
Description: ROS driver for the Leap Motion gesture sensor
